@charset "utf-8";
/* CSS Document */
div{
	padding:0;
	margin:0;	
}
body{
width:100%;
height:768px;	
margin:0 auto;
}



#Header
{
	width:800px;
	height:200px;
	background:url(img/header.png) 0 0 no-repeat;
	margin:0 auto;
	position:relative;
	top:50px;
}

.Menu{
	position:absolute;
	width:800px;
	height:45px;
	top:150px;	
	left:10px;	
}

#bodi
{
	top:50px;
	left:-4px;
	width:699px;
	height:530px;
	background:url(img/body.png) 0 0 no-repeat;
	position:relative; 
	margin:0 auto;
	padding:22px 0 0 92px;
}

/*#bodiReg
{
width:600px;
height:684px;
margin:0 auto;
padding-top:50px;
background-color: #DDD;

}*/


#lrow
{
	padding-left:40px;
	width:150px;
	height: 25px;
	background-color:blue;
	float:left;
}
#rrow
{
	padding-left:60px;
	width:340px;
	height:25px;
	background-color:blue;
	float:left;
}	

input
{
	padding-left:0px;
}

#SlideShow
{
	top:-20px;
	left:-90px;
	width:490px;
	height:490px;
	position:relative;
	background-color:white;
	float:left;
}

#Register
{
	top:-510px;
	left:0px;
	position:relative;
	width:295px;
	height:210px;
	background-color:blue;
	float:right;	
}

#Footer
{
	left:-5px;
	width:790px;
	height:25px;
	position:relative;
	background-color:gray;
	margin:0 auto;
	text-align:right;
}

#top_menu
{
	position:relative;
	width:800px;
	height:45px;
	top:10px;	
	left:0px;
	text-decoration:none;
	color:#FFFFFF;
}

.home a{
	text-decoration:none;	
	width:50px;
	height:50px;	
	margin:0 12 0 0;
}
.product a{
	text-decoration:none;	
	width:50px;
	height:50px;	
	margin:0 12 0 0;
}
.register a{
	text-decoration:none;	
	width:50px;
	height:50px;	
	margin:0 12 0 0;
}
.testimony a{
	text-decoration:none;	
	width:50px;
	height:50px;	
	margin:0 12 0 0;
}

li
{

height:45px;
width:25%;
float:left;
margin:0;
position:relative;
display:block;
padding:0;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#FFFFFF;
text-decoration:none;
}




.clearFix
{
zoom:0;	
}